* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  color: #2b054e;
  font-weight: 600;
}
form{
  max-width: 65%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  min-height: calc(100vh + 112px);

}
.container{
  display: flex;
  justify-content: center;
}
.resposta {
  display: flex;
  flex-direction: column;
}

.btn-frm {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.btn-frm ion-button {
  margin-top: 5px;
  margin-right: 10px;
  width: 110px;
}
.form-check {
  display: flex;
  margin: 10px 0;
}
.form-check label {
  margin-left: 10px;
}
.form-check input {
  cursor: pointer;
}
.atencao {
  color: #a13e3e;
}
@media (max-width: 425px) {
  .btn-frm {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
